<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MSSQL" connectionString="Data Source=localhost;Initial Catalog=WebStore;User Id = webstore_service; Password = 340$Uuxwp7Mcxo7Khy;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>